*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:#00eaff;
    overflow:hidden;
}

#boot-screen{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    font-size:60px;
    letter-spacing:10px;
    text-shadow:0 0 20px cyan;
    margin-bottom:30px;
}

#status{
    font-size:20px;
    margin-bottom:20px;
}

.progress-box{
    width:350px;
    height:8px;
    border:1px solid cyan;
    overflow:hidden;
}

#progress{
    width:0%;
    height:100%;
    background:cyan;
    box-shadow:0 0 20px cyan;
}

#percent{
    margin-top:15px;
    font-size:18px;
}

#dashboard{
    display:none;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
}

#dashboard h1{
    font-size:50px;
    text-shadow:0 0 20px cyan;
}
.background-grid{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:
        linear-gradient(rgba(0,255,255,0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,255,255,0.08) 1px, transparent 1px);
    background-size:40px 40px;
    z-index:-1;
    animation:gridMove 8s linear infinite;
}

@keyframes gridMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(40px);
    }
}
.chat-box{
    width:90%;
    max-width:500px;
    margin:20px auto;
    text-align:center;
}

#chat{
    height:180px;
    overflow-y:auto;
    background:#111;
    border:1px solid cyan;
    border-radius:15px;
    padding:15px;
    color:#fff;
    text-align:left;
    box-shadow:0 0 15px rgba(0,255,255,.3);
}

#chat p{
    margin:10px 0;
}

#mic{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#00eaff;
    color:#000;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

#mic:hover{
    transform:scale(1.05);
}
