*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:#00eaff;
    overflow:hidden;
}

#boot-screen{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    font-size:60px;
    letter-spacing:10px;
    text-shadow:0 0 20px cyan;
    margin-bottom:30px;
}

#status{
    font-size:20px;
    margin-bottom:20px;
}

.progress-box{
    width:350px;
    height:8px;
    border:1px solid cyan;
    overflow:hidden;
}

#progress{
    width:0%;
    height:100%;
    background:cyan;
    box-shadow:0 0 20px cyan;
}

#percent{
    margin-top:15px;
    font-size:18px;
}

#dashboard{
    display:none;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
}

#dashboard h1{
    font-size:50px;
    text-shadow:0 0 20px cyan;
}
